/target/
/build/
/out/

.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/
.gradle/
.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.jar

*.log
*.tmp
*.swp
*.swo
*.orig
*.rej
hs_err_pid*
replay_pid*
*.hprof

.DS_Store
Thumbs.db
ehthumbs.db

*.class
*.jar
*.war
*.ear
*.pid

.env
*.env
.env.*
*.local

.jqwik-database/
.jqwik-database
.jacoco.exec
*.jmh.out

**/node_modules/
/.idea_modules/
